.search-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-label {
    font-variant: small-caps;
}

.search-button {
    font-family: cursive;
    display: block;
}